<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../components/head %>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <% if(name) { %>
        <h1>About <%= name %></h1>
        <% } %>
    </main>
</body>

</html>