<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../components/head') %>
</head>

<body>
    <header>
        <nav>
            <ul class="menu-wrapper">
                <li>
                    <a href="/">
                        <span class="bone"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Matches</h1>
        <ul class="matches-container">
            <li>
                <div class="match-wrapper">
                    <p>
                        <strong>
                            Name
                        </strong>
                    </p>
                    <p>Last message</p>
                </div>
                <form action="#">
                    <button type="button">let's walk together</button>
                </form>
            </li>
        </ul>
        <form action="#">
            <label>
                Edit
                <input type="checkbox" name="remove-button" value="remove">
            </label>
        </form>
    </main>
    <%- include ('../components/footer') %>
</body>

</html>