<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../components/head') %>
</head>

<body>
    <header>
        <nav>
            <ul class="menu-wrapper">
                <li>
                    <a href="/">
                        <span class="bone"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Matches</h1>
        <% if(dogs) { %>
            <ul class="matches-container">
                <% dogs.forEach(dog => { %>
                    <li>
                        <div class="match-wrapper">
                            <p>
                                <strong>
                                     <%= dog.name %>
                                </strong>
                            </p>                                
                        </div>
                        <form action="#">
                            <button type="button">let's walk together</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </main>
    <%- include ('../components/footer') %>
</body>

</html>